<div id="mainPanelBody" class="panel-collapse collapse out">
  <div class="panel-body">
    <div class="panel panel-default mainPanelPanel">


      <!--START CATEGORY PANELS -->
      <div ng-repeat="currentCategory in categories"
        id="catAccordion{{$index}}" class="panel-group category"
        ng-show="currentCategory.categoryRubrics.length > 0">
        <div id="{{currentCategory.categoryName}}"
          class="panel panel-primary removeBorder">

            <div ng-class="calculateCategoryColor('panel-heading categoryPanelHeading', currentCategory.categoryGrade)"
                 class="panel-heading categoryPanelHeading" style="border-radius: 0px">
            <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#catAccordion{{$index}}" 
                href="#scorecardCategoryData{{$index}}">{{currentCategory.categoryName}}</a>
              <span class="pull-right numberOfIssuesHeader">{{ currentCategory.numberOfIssues > 0 ? 'Number of Issues' : ''}}</span>                
              <!--<span ng-class="scoringContextSubRoutine('categoryGrade pull-right label label-', currentCategory.categoryGrade, 'A')" 
                class="categoryGrade pull-right label">{{currentCategory.categoryGrade}}</span>-->
            </h2>            
          </div>

          <!--START REQUIREMENT PANELS -->
          <div id="scorecardCategoryData{{$index}}"
            class="panel-collapse collapse in">
            <div class="panel-body">

              <!-- 'rubric' is the unamed 'issue' object for each category -->
              <div ng-repeat="rubric in currentCategory.categoryRubrics" ng-show="rubric.numberOfIssues > 0" class="panel basicBorder">
                <div class="panel-heading requirementWrapper">
                  <h3 class="panel-title">
                    <a data-toggle="collapse"
                      href="#rubricBody{{$parent.$index}}-{{$index}}">Rule: {{rubric.rule}}</a>
                      <span class="pull-right" style="vertical-align: 0.17em">{{rubric.numberOfIssues}}</span>
                  </h3>
                </div>


                <!--START RUBRICS -->
<!--
                <div id="rubricBody{{$parent.$index}}-{{$index}}"
                  ng-class="rubric.actualPoints < rubric.maxPoints ? 'panel-collapse collapse in' : 'panel-collapse collapse out'">
-->
                <div id="rubricBody{{$parent.$index}}-{{$index}}" class="panel-collapse collapse out">
                  <div class="panel-body rubricColor">

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Description</h3>
                            <span>{{rubric.description}}</span>
                        </div>
                    </div>

                    <!--START DETAILS-->
                      <div ng-show="rubric.numberOfIssues > 0">
                          <div class="row">
                              <div class="col-md-4">
                                  <a href ng-click="detailsToShow!=='XML' ? detailsToShow='XML' : detailsToShow='NULL'">
                                    <h3>{{calculatedValidationData.passedCertification ? "Improvements" : "Issues"}}</h3>
                                  </a>
                              </div>
                              <div class="col-md-4">
                                  <a href ng-click="detailsToShow!=='HL7' ? detailsToShow='HL7' : detailsToShow='NULL'"><h3>Best Practice</h3></a>
                              </div>
                              <div class="col-md-4">
                                  <a href ng-click="detailsToShow!=='IG' ? detailsToShow='IG' : detailsToShow='NULL'"><h3>Standard</h3></a>
                              </div>                        
                          </div>
                          <div class="row">
                              <div class="col-md-12">

                                  <div ng-show="detailsToShow === 'XML'">
                                      <ol>
                                          <li ng-repeat="occurrence in rubric.issuesList">
                                              <table class="table table-striped table-condensed">
                                                  <thead>
                                                      <tr>
                                                          <th>
                                                              <a href ng-click="showSnippet = !showSnippet">XML at line number {{occurrence.lineNumber}}</a>
                                                          </th>
                                                      </tr>
                                                  </thead>
                                                  <tbody ng-show="showSnippet">
                                                      <tr>
                                                          <td>{{occurrence.xmlString}}</td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                          </li>
                                      </ol>                                      
                                  </div>

                                  <div ng-show="detailsToShow === 'HL7'">                                      
                                      <ol>
                                          <li ng-repeat="tfLink in rubric.exampleTaskForceLinks">
                                              <table class="table table-striped table-condensed">
                                                  <thead>
                                                      <tr>
                                                          <th>Related HL7 C-CDA Task Force example</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr>
                                                          <td><a href="{{tfLink}}" target="_blank">{{tfLink}}</a></td>
                                                      </tr>                           
                                                  </tbody>
                                              </table>
                                          </li>
                                      </ol>                                      
                                  </div>

                                  <div ng-show="detailsToShow === 'IG'">                                        
                                      <ol>
                                          <li ng-repeat="igRef in rubric.igReferences">
                                              <table class="table table-striped table-condensed">
                                                  <thead>
                                                      <tr>
                                                          <th>C-CDA Implementation Guide reference</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr>
                                                          <td>{{igRef}}</td>
                                                      </tr>                           
                                                  </tbody>
                                              </table>
                                          </li>
                                      </ol>
                                      <span>
                                          <p style="font-weight: bold">C-CDA Implementation Guide link</p>
                                          <p><a href="{{jsonData.results.igReferenceUrl}}" target="_blank">{{jsonData.results.igReferenceUrl}}</a></p>
                                      </span>                                      
                                  </div>

                              </div>                         
                          </div>
                      </div>

                    <!--START SCORING CRITERIA -->
<!--
                    <a id="gradingCriteriaDropdownButtonId{{$parent.$index}}-{{$index}}" class="gradingCriteriaDropdownButton"
                      data-toggle="collapse" href
                      data-target="#gradingCriteriaListGroup{{$parent.$index}}-{{$index}}">
                      <h3 type="button"
                        class="btn btn-default btn-block">
                        <span ng-class="getDropdownStateClasses('gradingCriteriaDropdownButtonId' + {{$parent.$index}} + '-' + {{$index}})"></span>View Scoring Criteria
                      </h3>
                    </a>
-->
                    <!-- works with any number of points -->
<!--
                    <div
                      id="gradingCriteriaListGroup{{$parent.$index}}-{{$index}}"
                      class="collapse out">
                      <ul class="list-group" style="margin-left: 0px; margin-bottom: 0px">
                        <li
                          ng-repeat="(pointKey, point) in rubric.points" class="list-group-item">{{point}} <span
                          ng-class="updateScoringCriteriaContextClass(pointKey, rubric, ContextEnum.LABEL)"
                          class="label pull-right label-default">{{pointKey === '1' ? pointKey + " Point" : pointKey + " Points"}}</span>
                        </li>
                      </ul>
                    </div>
-->

                  </div>
                </div>
              </div>

            </div>
            <!-- END panel-body -->
            <div class="panel-footer scFooter">
              <button ng-click="jumpToElementViaId('ValidationResult', true, 0)" 
                class="btn btn-default btn-block scButton removeBorder" type="button" title="Back to Summary"
                tabindex="0" role="button" onclick="this.blur();">
                <span class="glyphicon glyphicon-triangle-top" title="Back to Summary" alt="Back to Summary"></span>
              </button>
            </div>
          </div>

        </div>
        <!-- END main panel wrapper definition -->
      </div>
      <!-- END panel-group -->


    </div>
  </div>
</div>
<!-- END outer panel-body -->