<div ng-show="detailedResultsData.showDetailedResults" id="mainPanelBody" class="panel">
  <div class="panel-body">
    <div class="panel panel-default mainPanelPanel">
      
      <scorecard-two-results></scorecard-two-results>

      <!--START CATEGORY PANELS -->
      <div ng-repeat="currentCategory in categories"
        ng-show="currentCategory.numberOfIssues > 0"
        id="catAccordion{{$index}}" class="panel-group category">
        <div id="{{currentCategory.categoryName}}"
          class="panel panel-primary removeBorder">

          <div ng-class="getClassForCategory(currentCategory, 'panel-heading categoryPanelHeading removeBoxShadowAndTextShadow')" 
            class="panel-heading categoryPanelHeading removeBoxShadowAndTextShadow" style="border-radius: 0px">
            <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#catAccordion{{$index}}" 
                href="#scorecardCategoryData{{$index}}" analytics-on="click" analytics-event="Category Header Expand or Collapse" 
                analytics-category="Detailed Results">{{currentCategory.categoryName}}</a>
              <span class="pull-right numberOfIssuesHeader">
              	<strong>{{currentCategory.numberOfIssues > 0 ? currentCategory.numberOfIssues : ''}}</strong>
              	<span>{{currentCategory.numberOfIssues > 1 ? ' Issues' : 'Issue'}}</span>
              </span>              
              <!--<span ng-class="scoringContextSubRoutine('categoryGrade pull-right label label-', currentCategory.categoryGrade, 'A')" 
                class="categoryGrade pull-right label">{{currentCategory.categoryGrade}}</span>-->
            </h2>            
          </div>

          <!--START REQUIREMENT PANELS -->
          <div id="scorecardCategoryData{{$index}}"
            class="panel-collapse collapse in">
            <div class="panel-body">

              <!-- 'rubric' is the unamed 'issue' object for each category -->
              <div ng-repeat="rubric in currentCategory.categoryRubrics" ng-show="rubric.numberOfIssues > 0" class="panel basicBorder">
                <div class="panel-heading requirementWrapper">
                  <h3 class="panel-title">
                    <a data-toggle="collapse"
                      href="#rubricBody{{$parent.$index}}-{{$index}}" analytics-on="click" analytics-event="Category Issue Expand or Collapse" 
                      analytics-category="Detailed Results">Rule: {{rubric.rule}}</a>
                      <span class="pull-right" style="vertical-align: 0.17em">{{rubric.numberOfIssues}}</span>
                  </h3>
                </div>


                <!--START RUBRICS -->
<!--
                <div id="rubricBody{{$parent.$index}}-{{$index}}"
                  ng-class="rubric.actualPoints < rubric.maxPoints ? 'panel-collapse collapse in' : 'panel-collapse collapse out'">
-->
                <div id="rubricBody{{$parent.$index}}-{{$index}}" class="panel-collapse collapse out">
                  <div class="panel-body rubricColor">

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Description</h3>
                            <span ng-bind-html="rubric.description | trust"></span>
                            <p>
                              <span ng-if="!rubric.igReferences[0] || rubric.igReferences[0] === ScorecardConstants.IG_URL">
                                Please refer to the <a href="{{jsonData.results.igReferenceUrl}}">C-CDA Implementation Guide</a> for help resolving the issue.
                              </span>                   
                              <span ng-if="rubric.igReferences[0] && rubric.igReferences[0] !== ScorecardConstants.IG_URL">
                                Please refer to: 
                                <span ng-repeat="igRef in rubric.igReferences">{{igRef}},</span> 
                                in the <a href="{{jsonData.results.igReferenceUrl}}">C-CDA Implementation Guide</a> for help resolving the issue.
                              </span>
                            </p>                            
                        </div>
                    </div>				

                    <!--START TABBED DETAILS-->
                      <div ng-show="rubric.numberOfIssues > 0" ng-init="detailsToShow='XML'" class="mediumPadFromTop">
                      
                          <ul class="nav nav-tabs">
                            <li ng-class="detailsToShow === 'XML' ? 'active' : ''">
                              <a ng-click="detailsToShow = 'XML'"
                                data-toggle="tab" href="javascript:void(0)"><span class="subDescriptionTabs">Issues</span>
                              </a>
                            </li>
                            <li ng-class="detailsToShow === 'HL7' ? 'active' : ''">
                              <a ng-click="detailsToShow = 'HL7' "
                                data-toggle="tab" href="javascript:void(0)" analytics-on="click" analytics-event="Category Issue Best Practice Shown" 
                                analytics-category="Detailed Results"><span class="subDescriptionTabs">Best Practice</span>
                              </a>
                            </li>
                          </ul>
                          
                          <div class="row">
                              <div class="col-md-12 mediumPadFromTop">

                                  <div ng-show="detailsToShow === 'XML'">
                                      <ol>
                                          <li ng-repeat="occurrence in rubric.issuesList">
                                              <table class="table table-striped table-condensed">
                                                  <thead>
                                                      <tr>
                                                          <th>
                                                              <a href ng-click="showSnippet = !showSnippet"
                                                              analytics-on="click" analytics-event="Category Issue XML Snippet Expand or Collapse" 
                                                              analytics-category="Detailed Results">XML at line number {{occurrence.lineNumber}}</a>
                                                          </th>
                                                      </tr>
                                                  </thead>
                                                  <tbody ng-show="showSnippet">
                                                      <tr>
                                                          <td>{{occurrence.xmlString}}</td>
                                                      </tr>
                                                  </tbody>
                                              </table>
                                          </li>
                                      </ol>                                      
                                  </div>

                                  <div ng-show="detailsToShow === 'HL7'">                                      
                                      <ol>
                                          <li ng-repeat="tfLink in rubric.exampleTaskForceLinks">
                                              <table class="table table-striped table-condensed">
                                                  <thead>
                                                      <tr>
                                                          <th>Related HL7 C-CDA Task Force example</th>
                                                      </tr>
                                                  </thead>
                                                  <tbody>
                                                      <tr>
                                                          <td><a href="{{tfLink}}" target="_blank">{{tfLink}}</a></td>
                                                      </tr>                           
                                                  </tbody>
                                              </table>
                                          </li>
                                      </ol>                                      
                                  </div>

                              </div>                         
                          </div>
                      </div>

                    <!--START SCORING CRITERIA -->
<!--
                    <a id="gradingCriteriaDropdownButtonId{{$parent.$index}}-{{$index}}" class="gradingCriteriaDropdownButton"
                      data-toggle="collapse" href
                      data-target="#gradingCriteriaListGroup{{$parent.$index}}-{{$index}}">
                      <h3 type="button"
                        class="btn btn-default btn-block">
                        <span ng-class="getDropdownStateClasses('gradingCriteriaDropdownButtonId' + {{$parent.$index}} + '-' + {{$index}})"></span>View Scoring Criteria
                      </h3>
                    </a>
-->
                    <!-- works with any number of points -->
<!--
                    <div
                      id="gradingCriteriaListGroup{{$parent.$index}}-{{$index}}"
                      class="collapse out">
                      <ul class="list-group" style="margin-left: 0px; margin-bottom: 0px">
                        <li
                          ng-repeat="(pointKey, point) in rubric.points" class="list-group-item">{{point}} <span
                          ng-class="updateScoringCriteriaContextClass(pointKey, rubric, ContextEnum.LABEL)"
                          class="label pull-right label-default">{{pointKey === '1' ? pointKey + " Point" : pointKey + " Points"}}</span>
                        </li>
                      </ul>
                    </div>
-->

                  </div>
                </div>
              </div>

            </div>
            <!-- END panel-body -->
            <div class="panel-footer scFooter">
              <button ng-click="jumpToElementViaId('ValidationResult', true, 0)" 
                class="btn btn-default btn-block scButton removeBorder" type="button" title="Back to Summary" 
                alt="Back to Summary" tabindex="0" role="button" onclick="this.blur();" aria-label="Back to Summary"
                analytics-on="click" analytics-event="Back to Summary Navigation" analytics-category="Detailed Results">
                <span class="glyphicon glyphicon-triangle-top" title="Back to Summary" alt="Back to Summary"></span>
              </button>
            </div>
          </div>

        </div>
        <!-- END main panel wrapper definition -->
      </div>
      <!-- END panel-group -->


    </div>
  </div>
</div>
<!-- END outer panel-body -->