<div id="heatMap">

  <div ng-repeat="row in [0,1,2,3,4]" class="row heatMapRow">

    <div class="col-md-6 heatMapData">
      <button ng-click="jumpToCategoryViaName(getHeatMapCategoryName(row, true))" ng-class="getGradeClass(row, true, 'btn btn-large btn-block')" 
      class="btn btn-large btn-block" type="button" onclick="this.blur();">
        {{getHeatMapCategoryName(row, true)}}:&nbsp;{{getHeatMapCategoryGrade(row, true)}}&nbsp;({{getHeatMapCategoryIssueCount(row, true)}})
      </button>
    </div>

    <div class="col-md-6 heatMapData">
      <button ng-click="jumpToCategoryViaName(getHeatMapCategoryName(row, false))" ng-class="getGradeClass(row, false, 'btn btn-large btn-block')" 
      class="btn btn-large btn-block" type="button" onclick="this.blur();">
        {{getHeatMapCategoryName(row, false)}}:&nbsp;{{getHeatMapCategoryGrade(row, false)}}&nbsp;({{getHeatMapCategoryIssueCount(row, false)}})
      </button>
    </div>

  </div>

</div>