<div id="CCDAvalidator" class="panel panel-default removeBorder">
  <div class="panel-heading">
    <h2 class="panel-title">C-CDA Scorecard</h2>
  </div>

  <div class="panel-body">

    <p>The SITE C-CDA R2.1 Scorecard provides an enhanced level of
      interoperability for C-CDA documents by using a comprehensive
      scoring system, which allows implementers to improve the data
      quality and representation of their C-CDA documents, thereby
      increasing the precision of documents used in the real-world.</p>
    <p>Please note: Scoring may take up to one minute to run.</p>

    <div id="CCDAAccordion">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" data-parent="#CCDAAccordion"
              href="#collapseCCDA2_0Validator" tabindex="1"> C-CDA R2.1 Scorecard (Alpha Release)</a>
          </h3>
        </div>
        <div id="collapseCCDA2_0Validator"
          class="panel-collapse collapse in">
          <div class="panel-body">

            <div id="CCDAReference">

              <div id="CCDAReferenceWrapper">
                <span class="directions">Directions:</span>
                <p>Please follow the steps below in order to score the C-CDA R2.1 document.</p>

                <form name="scUploadForm">

                  <ol>

                    <!--
                    <li>Select results desired.
                      <div class="form-group">
                        <select
                          ng-init="selectedValidationOption = selectedValidationOption || validationOptions[0]"
                          ng-model="selectedValidationOption"
                          ng-options="option as option.value for option in validationOptions"
                          class="form-control" tabindex="1">
                        </select>
                      </div>
                    </li>
                    -->

                    <li>Upload C-CDA file to score.
                      <div style="position: relative;">
                        <div class="row">
                          <div class="col-md-12 form-group">
                            <span
                              class="btn btn-success fileinput-button">
                              <i class="glyphicon glyphicon-plus"></i>&nbsp;<span>Upload</span> <input type="file"
                              ngf-select ng-model="ccdaScFile"
                              name="file" accept=".xml"
                              ngf-max-size="3MB" required
                              ngf-model-invalid="invalidCcdaScFile"
                              tabindex="1" />
                            </span> <span class="infoColor"> <i
                              ng-show="scUploadForm.file.$error.required">&nbsp;*Please
                                select a C-CDA file.</i> <i
                              ng-show="scUploadForm.file.$error.maxSize">
                                *File too large {{invalidCcdaScFile.size
                                / 1000000|number:1}}MB: max 3MB </i>
                            </span> <span ng-show="ccdaScFile.name">{{ccdaScFile.name}}</span>
                          </div>
                        </div>
                      </div>
                    </li>

                    <li>Score.
                      <div>
                        <!--submit button-->
                        <button ng-disabled="!scUploadForm.$valid && !mainDebug.inDebugMode"
                          ng-click="uploadCcdaScFileAndCallServices(ccdaScFile, mainDebug.inDebugMode)"
                          id="scFormSubmit"
                          class="btn btn-primary start"
                          data-toggle="modal" data-target="#resultModal"
                          tabindex="1" type="button">
                          <i class="glyphicon glyphicon-ok"></i> <span>Score</span>
                        </button>
                        <!--progress bar-->
                        <span class="progress"
                          ng-show="uploadDisplay.isLoading && ccdaScFile.progress < 100">
                          <!-- <div style="width: {{ccdaScFile.progress"
                            ng-bind="'File Upload Progress: ' + ccdaScFile.progress + '%'"></div> -->
                          <span
                          ng-bind="'File Upload Progress: ' + ccdaScFile.progress + '%'"></span>
                        </span> <span class="successColor"
                          ng-show="uploadDisplay.isLoading && ccdaScFile.progress >= 100 && !ngFileUploadError">
                          File Upload Complete. </span> <span
                          class="errorColor" ng-show="ngFileUploadError">
                          {{uploadErrorData.uploadError}} </span>
                      </div>
                    </li>

                  </ol>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>