<div class="container-fluid">

    <div id="scHeaderContainer">
      
        <div class="row scHeadingSummary">
            <div class="col-md-12">
                <h1 id="resultModalLabel">{{jsonData.results.finalGrade ? 'C-CDA ' + jsonData.results.docType : ''}} Scorecard For:</h1>
                <h2>{{ccdaUploadData.fileName}}</h2>
            </div>
        </div>
		
        <div id="topLevelResultsTable">
		
    		<div class="row">
    			<div class="col-md-4 scHeading">
    			   <h2>Grade:</h2>
    			</div>
                <div class="col-md-4 scHeading">
                   <h2>Score:</h2>
                </div>
                <div class="col-md-4 scHeading">
                   <h2>Issues:</h2>
                </div>
            </div>
    		<div class="row">
    			<div class="col-md-4 scHeading">
    			   <h2>
                    <img ng-if="!jsonData.results.finalGrade" 
                      src="images/validationSpinner.gif" alt="scorecard loading indicator" style="width: 30px; margin-top: -5px">
                    <span ng-if="jsonData.results.finalGrade" class="scResult">{{jsonData.results.finalGrade}}</span>             
                  </h2>
    			</div>
                <div class="col-md-4 scHeading">
                   <h2>
                    <img ng-if="!jsonData.results.finalGrade" 
                      src="images/validationSpinner.gif" alt="scorecard loading indicator" style="width: 30px; margin-top: -5px">
                    <span ng-if="jsonData.results.finalGrade" class="scResult">{{jsonData.results.finalNumericalGrade + " / 100"}}</span>     
                  </h2>
                </div>
                <div class="col-md-4 scHeading">
                   <h2>
                    <img ng-if="!jsonData.results.finalGrade" 
                      src="images/validationSpinner.gif" alt="scorecard loading indicator" style="width: 30px; margin-top: -5px">
                    <span ng-if="jsonData.results.finalGrade" class="scResult">{{jsonData.results.numberOfIssues}}</span>     
                  </h2>
                </div>
            </div>            
            
            <div class="row">
              <div class="col-md-6 scHeading">
				   <h2 class="scHeaderDescriptionText">
                    <span ng-if="!igResults.totalErrorCount">{{ReferenceInstanceTypeEnum.IG_CONFORMANCE}}:</span>
                    <a ng-if="igResults.totalErrorCount" href="javascript:void(0)"  
                    ng-click="jumpToReferenceInstanceTypeViaId(ReferenceInstanceTypeEnum.IG_CONFORMANCE)" 
                    title="Navigate to {{ReferenceInstanceTypeEnum.IG_CONFORMANCE}}" 
                    aria-label="Navigate to {{ReferenceInstanceTypeEnum.IG_CONFORMANCE}}"
                    analytics-on="click" analytics-event="IG Error Navigation" analytics-category="Top Level Results">
                      <span>{{ReferenceInstanceTypeEnum.IG_CONFORMANCE}}:</span>
                    </a>                    
                   </h2>
              </div>
                <div class="col-md-6 scHeading">
    		       <h2 class="scHeaderDescriptionText">
                    <span ng-if="!certResults.totalErrorCount">{{ReferenceInstanceTypeEnum.CERTIFICATION_2015}}:</span>
                    <a ng-if="certResults.totalErrorCount" href="javascript:void(0)"  
                    ng-click="jumpToReferenceInstanceTypeViaId(ReferenceInstanceTypeEnum.CERTIFICATION_2015)"              
                    title="Navigate to {{ReferenceInstanceTypeEnum.CERTIFICATION_2015}}" 
                    aria-label="Navigate to {{ReferenceInstanceTypeEnum.CERTIFICATION_2015}}"
                    analytics-on="click" analytics-event="Cert Navigation" analytics-category="Top Level Results">
                      <span>{{ReferenceInstanceTypeEnum.CERTIFICATION_2015}}:</span>
                    </a>                                  
                   </h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 scHeading">
				   <h2 class="scHeaderDescriptionText">
                     <span class="scHeaderDescriptionText">
                        <a ng-if="igResults.totalErrorCount" href="javascript:void(0)"  
                        ng-click="jumpToReferenceInstanceTypeViaId(ReferenceInstanceTypeEnum.IG_CONFORMANCE)" 
                        title="Navigate to {{ReferenceInstanceTypeEnum.IG_CONFORMANCE}}" 
                        aria-label="Navigate to {{ReferenceInstanceTypeEnum.IG_CONFORMANCE}}"
                        class="scResult"
                        analytics-on="click" analytics-event="IG Error by number Navigation" analytics-category="Top Level Results">
                        {{jsonData.results.finalGrade ? igResults.totalErrorCount : ''}}
                        </a>
                        <span ng-if="!igResults.totalErrorCount">
                          <img ng-if="!jsonData.results.finalGrade" 
                            src="images/validationSpinner.gif" alt="scorecard loading indicator" style="width: 30px; margin-top: -5px">
                          <span ng-if="jsonData.results.finalGrade" class="scResult">0</span>                
                        </span>
                     </span>                    
                   </h2>
              </div>
                <div class="col-md-6 scHeading">
    		       <h2 class="scHeaderDescriptionText">
                      <span class="scHeaderDescriptionText">
                        <a ng-if="certResults.totalErrorCount" href="javascript:void(0)"  
                        ng-click="jumpToReferenceInstanceTypeViaId(ReferenceInstanceTypeEnum.CERTIFICATION_2015)"              
                        title="Navigate to {{ReferenceInstanceTypeEnum.CERTIFICATION_2015}}" 
                        aria-label="Navigate to {{ReferenceInstanceTypeEnum.CERTIFICATION_2015}}"
                        class="scResult"
                        analytics-on="click" analytics-event="Cert by number Navigation" analytics-category="Top Level Results">
                        {{jsonData.results.finalGrade ? certResults.totalErrorCount : ''}}
                        </a>
                        <span ng-if="!certResults.totalErrorCount">
                          <img ng-if="!jsonData.results.finalGrade" 
                            src="images/validationSpinner.gif" alt="scorecard loading indicator" style="width: 30px; margin-top: -5px">
                          <span ng-if="jsonData.results.finalGrade" class="scResult">0</span>             
                        </span>
                      </span>                                  
                   </h2>
              </div>
            </div>			
			
        </div> <!-- END topLevelResultsTable -->		                		
	
    </div> <!-- END scHeaderContainer -->    

    <summary></summary>

    <!-- Access to Detailed Results -->
    <div id="detailedResults" class="row" ng-show="!uploadDisplay.isLoading && !errorData.getJsonDataError"
      ng-if="jsonData.results.finalNumericalGrade !== 100 || igResults.totalErrorCount || certResults.totalErrorCount">
        <div class="col-md-12">
            <div id="detailedResultsPanelDropdownAnchor" class="panelDropdownButton">
                <h2 id="detailedResultsButton" ng-click="flipDetailedResultsVisibilityAndNavigate()" type="button" class="btn btn-block resultsButton"
                    analytics-on="click" analytics-event="Manual Detailed Results Navigation" analytics-category="Detailed Results">
                    <span ng-class="getDetailedResultsHideShowClasses()"></span>{{detailedResultsTextPrefix}}Detailed Results
                </h2>
            </div>
        </div>
    </div>

</div>
