<div class="container-fluid">

    <div id="scHeaderContainer">
      
        <div class="row scHeadingSummary">
            <div class="col-md-12">
                <h1 id="resultModalLabel">{{jsonData.results.finalGrade ? 'C-CDA ' + jsonData.results.docType : ''}} Scorecard For:</h1>
                <h2>{{ccdaUploadData.fileName}}</h2>
            </div>
        </div>
		
        <div id="topLevelResultsTable">
    		<!-- Grade row -->
    		<div class="row">
    			<div class="col-md-4 scHeading">
    			   <h2>Scorecard Grade:</h2>
    			</div>
    			<div class="col-md-2 scHeading">
    			   <h2>{{jsonData.results.finalGrade ? jsonData.results.finalGrade : "Scoring..."}}</h2>
    			</div>
    			<div class="col-md-6 scHeading scHeaderDescriptionText">
    			   <h4 class="scDescriptionText">
                   Your document scored {{jsonData.results.finalGrade && jsonData.results.finalGrade === 'A' ? 'an' : 'a'}}
                   {{jsonData.results.finalGrade ? jsonData.results.finalGrade : "?"}} compared to an industry average of
                   <b>{{jsonData.results.finalGrade ? jsonData.results.industryAverageGrade : "?"}}</b>.
                   </h4>
    			</div>
    		</div>
    		<!-- Score row -->
    		<div class="row">
    			<div class="col-md-4 scHeading">
    			   <h2>Scorecard Score:</h2>
    			</div>
    			<div class="col-md-2 scHeading">
    			   <h2>{{jsonData.results.finalGrade ? jsonData.results.finalNumericalGrade + " / 100" : "Scoring..."}}</h2>
    			</div>
    			<div class="col-md-6 scHeading scHeaderDescriptionText">
    			   <h4 class="scDescriptionText">
                   Your document scored {{jsonData.results.finalGrade ? jsonData.results.finalNumericalGrade : "?"}}
                   out of 100 total possible points.
                   </h4>
    			</div>	
    		</div>
    		<!-- Improvements row -->
    		<div class="row">
    			<div class="col-md-4 scHeading">
    			   <h2>{{calculatedValidationData.passedCertification ? "Improvements" : "Scorecard Issues"}}:</h2>
    			</div>
    			<div class="col-md-2 scHeading">
    			   <h2>{{jsonData.results.finalGrade ? jsonData.results.numberOfIssues : "Scoring..."}}</h2>
    			</div>
    			<div class="col-md-6 scHeading scHeaderDescriptionText">
    			   <h4 class="scDescriptionText">There are {{jsonData.results.finalGrade ? totalNumberOfScorecardOccurrences : "?"}}
                   specific scorecard {{calculatedValidationData.passedCertification ? "improvements that you can make to" : "issues in"}} your document.
                   </h4>
    			</div>
    		</div>
    		<!-- C-CDA IG Conformance Errors row -->
    		<div class="row">
    			<div class="col-md-4 scHeading">
    			   <h2>{{ReferenceInstanceTypeEnum.IG_CONFORMANCE}}:</h2>
    			</div>
    			<div class="col-md-2 scHeading">
    			   <h2>
                      <a ng-if="igResults.totalErrorCount" href="javascript:void(0)"  
                      ng-click="jumpToReferenceInstanceTypeViaId(ReferenceInstanceTypeEnum.IG_CONFORMANCE)" 
                      title="Navigate to {{ReferenceInstanceTypeEnum.IG_CONFORMANCE}}" 
                      aria-label="Navigate to {{ReferenceInstanceTypeEnum.IG_CONFORMANCE}}">
                      {{jsonData.results.finalGrade ? igResults.totalErrorCount : "Validating..."}}
                      </a>
                      <span ng-show="!igResults.totalErrorCount">
                        {{jsonData.results.finalGrade ? "0" : "Validating..."}}
                      </span>                      
                   </h2>
    			</div>
    			<div class="col-md-6 scHeading scHeaderDescriptionText">
                   <h4 class="scDescriptionText">
                     There{{igResults.totalErrorCount === 1 ? ' is ' : ' are '}}
                     {{jsonData.results.finalGrade ? (igResults.totalErrorCount ? igResults.totalErrorCount : '0') : '?'}}
                     {{igResults.totalErrorCount === 1 ? ' C-CDA IG Conformance Error ' : ' ' + ReferenceInstanceTypeEnum.IG_CONFORMANCE + ' '}}
                     in your document.
                   </h4>             
    			</div>		
    		</div>
    		<!-- 2015 Certification Feedback row -->
    		<div class="row">
    			<div class="col-md-4 scHeading">
    		       <h2>{{ReferenceInstanceTypeEnum.CERTIFICATION_2015}}:</h2>
    			</div>
    			<div class="col-md-2 scHeading">
    			   <h2>
                      <a ng-if="certResults.totalErrorCount" href="javascript:void(0)"  
                      ng-click="jumpToReferenceInstanceTypeViaId(ReferenceInstanceTypeEnum.CERTIFICATION_2015)"              
                      title="Navigate to {{ReferenceInstanceTypeEnum.CERTIFICATION_2015}}" 
                      aria-label="Navigate to {{ReferenceInstanceTypeEnum.CERTIFICATION_2015}}">
                      {{jsonData.results.finalGrade ? certResults.totalErrorCount : "Certifying..."}}
                      </a>
                      <span ng-show="!certResults.totalErrorCount">
                        {{jsonData.results.finalGrade ? "0" : "Certifying..."}}
                      </span>               
                   </h2>
    			</div>
    			<div class="col-md-6 scHeading scHeaderDescriptionText">
    			   <h4 class="scDescriptionText">
                     There{{certResults.totalErrorCount === 1 ? ' is ' : ' are '}}
                     {{jsonData.results.finalGrade ? (certResults.totalErrorCount ? certResults.totalErrorCount : '0') : '?'}}
                     {{ReferenceInstanceTypeEnum.CERTIFICATION_2015}}
                     {{certResults.totalErrorCount === 1 ? ' result ' : ' results '}} in your document.
                   </h4>
    			</div>		
    		</div>
        </div> <!-- END topLevelResultsTable -->		                		
	
    </div> <!-- END scHeaderContainer -->    

    <charts></charts>

    <!-- Access to Detailed Results -->
    <div id="detailedResults" class="row" ng-show="!uploadDisplay.isLoading && !uploadErrorData.validationServiceError && !errorData.getJsonDataError">
        <div class="col-md-12">
            <a id="detailedResultsPanelDropdownAnchor" class="panelDropdownButton" data-toggle="collapse" href="#mainPanelBody" data-target="#mainPanelBody">
                <h2 id="detailedResultsButton" ng-click="jumpToElementViaId('detailedResults', true, 100)" type="button" class="btn btn-block resultsButton">
                    <span ng-class="getDropdownStateClasses('detailedResultsPanelDropdownAnchor')"></span>{{detailedResultsTextPrefix}}Detailed Results
                </h2>
            </a>
        </div>
    </div>

</div>
